<nav class="navbar navbar-expand-lg fixed-top custom-nav sticky">
    <div class="container">
        <a class="navbar-brand brand-logo mr-4" href="index.html">
            <img src="assets/images/logo.png" class="img-fluid logo-light" alt="">
            <img src="assets/images/logo-dark.png" class="img-fluid logo-dark" alt="">
        </a>
        <div class="navbar-collapse collapse justify-content-center" id="navbarCollapse">
            <ul class="navbar-nav navbar-center" id="mySidenav">
                <li class="nav-item active">
                    <a href="#home" class="nav-link">{{'NavHome' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a href="#features" class="nav-link">{{'NavWhyUseAfya' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a href="#aboutus" class="nav-link">{{'NavFeatures' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link">{{'NavContact' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a href="#faq" class="nav-link">{{'NavFAQ' | translate }}</a>
                </li>
            </ul>
        </div>
        <div class="contact_btn">
            <a href="#appointment" class="btn btn-sm">{{'NavSignIn' | translate }}</a>
            <button class="navbar-toggler ml-2 p-0" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="icofont-navigation-menu"></i>
            </button>
        </div>
    </div>
</nav>

<section class="bg-gradient overflow-hidden home-section" id="home">
    <div class="waves-bg home-bg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="content-fadeInUp">
                        <h2 class="heading">{{'HomeTitle' | translate }}</h2>
                        <h1 class="text-white sub-title">{{'HomeSubTitle' | translate}}</h1>
                        <p class="para-sec">{{'HomeDesc1' | translate }}</p>
                        <div class="learn-more">
                            <a href="#aboutus" class="btn btn-white btn-rounded text-white">{{'HomeCreateFileBtn' | translate}}</a>&nbsp;
                            <a href="#aboutus" class="btn btn-white btn-rounded text-white">{{'HomeDownloadBtn' | translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-fadeInRight">
                        <img src="assets/images/banner/01.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features" class="section features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center mb-4">
                    <h2>{{'NavWhyUseAfya' | translate}}</h2>
                    <p class="section-subtitle mx-auto">{{'HomeWhyUseAfya' | translate}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="ftr-icon-box wow fadeInUp">
                    <div class="icon"><i class="icofont-gears"></i></div>
                    <h4 class="title">{{'HomeWhyUseAfyaKey1' | translate}}</h4>
                    <p class="description">{{'HomeWhyUseAfyaValue1' | translate}}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ftr-icon-box wow fadeInUp" data-wow-delay="0.3s">
                    <div class="icon"><i class="icofont-tick-mark"></i></div>
                    <h4 class="title">{{'HomeWhyUseAfyaKey2' | translate}}</h4>
                    <p class="description">{{'HomeWhyUseAfyaValue2' | translate}}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ftr-icon-box wow fadeInUp" data-wow-delay="0.6s">
                    <div class="icon"><i class="icofont-unlock"></i></div>
                    <h4 class="title">{{'HomeWhyUseAfyaKey3' | translate}}</h4>
                    <p class="description">{{'HomeWhyUseAfyaValue3' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="aboutus" class="aboutus section inverse-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="mb-30">
                    <div class="section-title mb-4">
                        <h2>{{'HomeFeaturesSection' | translate}}</h2>
                        <p>{{'HomeFeaturesSectionText' | translate}}</p>
                    </div>
                    <div class="icon-boxes">
                        <div class="aboutus-icon-box d-flex align-items-start">
                            <div class="icon"><i class="icofont-prescription"></i></div>
                            <div class="ml-4">
                                <h4 class="title">{{'HomeFeaturesKey1' | translate}}</h4>
                                <p class="description">{{'HomeFeaturesValue1' | translate}}</p>
                            </div>
                        </div>
                        <div class="aboutus-icon-box d-flex align-items-start">
                            <div class="icon"><i class="icofont-pills"></i></div>
                            <div class="ml-4">
                                <h4 class="title">{{'HomeFeaturesKey2' | translate}}</h4>
                                <p class="description">{{'HomeFeaturesValue2' | translate}}</p>
                            </div>
                        </div>
                        <div class="aboutus-icon-box d-flex align-items-start">
                            <div class="icon"><i class="icofont-heart-beat-alt"></i></div>
                            <div class="ml-4">
                                <h4 class="title">{{'HomeFeaturesKey3' | translate}}</h4>
                                <p class="description">{{'HomeFeaturesValue3' | translate}}</p>
                            </div>
                        </div>
                        <div class="aboutus-icon-box d-flex align-items-start">
                            <div class="icon"><i class="icofont-contacts"></i></div>
                            <div class="ml-4">
                                <h4 class="title">{{'HomeFeaturesKey4' | translate}}</h4>
                                <p class="description">{{'HomeFeaturesValue4' | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <img src="assets/images/features/01.png" alt="" class="w-100 mb-30">
            </div>
        </div>
    </div>
</section>


<section id="aboutus" class="section bg-default">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center mb-4">
                    <h2>{{'HomeWristbandSection' | translate}}</h2>
                    <p class="mx-auto">{{'HomeWristbandSectionText' | translate}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="dept-box">
                    <div class="prod-img">
                        <img src="assets/images/products/10.png" alt="" class="w-100">
                    </div>
                    <div class="dept-details">
                        <div class="round-style"></div>
                        <i class="icon icofont-heart-beat-alt"></i>
                        <h4>{{'HomeWristbandKey1' | translate}}</h4>
                        <p class="details">{{'HomeWristbandValue1' | translate}}</p>
                        <a href="#" class="thm-btn"><i class="icofont-info-circle"></i> {{'HomeWristbandReadMoreBtn' | translate}}</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="dept-box">
                    <div class="prod-img">
                        <img src="assets/images/products/05.jpg" alt="" class="w-100">
                    </div>
                    <div class="dept-details">
                        <div class="round-style"></div>
                        <i class="icon icofont-heart-beat-alt"></i>
                        <h4>{{'HomeWristbandKey2' | translate}}</h4>
                        <p class="details">{{'HomeWristbandValue2' | translate}}</p>
                        <a href="#" class="thm-btn"><i class="icofont-info-circle"></i> {{'HomeWristbandReadMoreBtn' | translate}}</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="dept-box">
                    <div class="prod-img">
                        <img src="assets/images/products/03.jpg" alt="" class="w-100">
                    </div>
                    <div class="dept-details">
                        <div class="round-style"></div>
                        <i class="icon icofont-heart-beat-alt"></i>
                        <h4>{{'HomeWristbandKey3' | translate}}</h4>
                        <p class="details">{{'HomeWristbandValue3' | translate}}</p>
                        <a href="#" class="thm-btn"><i class="icofont-info-circle"></i> {{'HomeWristbandReadMoreBtn' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center mb-4">
                    <h2>{{'HomeAdvantagesSection' | translate}}</h2>
                    <p class="mx-auto">{{'HomeAdvantagesSectionText1' | translate}}</p>
                    <p class="mx-auto">{{'HomeAdvantagesSectionText2' | translate}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="dept-box">
                    <div>
                        <img src="assets/images/advantages/01.png" alt="" class="w-100">
                    </div>
                    <div class="dept-details">
                        <div class="round-style"></div>
                        <i class="icon icofont-pills"></i>
                        <p class="details">{{'HomeAdvantagesBlock1' | translate}}</p>
                        <a href="#" class="thm-btn">{{'HomeCreateFileBtn' | translate}}</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="dept-box">
                    <div>
                        <img src="assets/images/advantages/03.png" alt="" class="w-100">
                    </div>
                    <div class="dept-details">
                        <div class="round-style"></div>
                        <i class="icon icofont-blood"></i>
                        <p class="details">{{'HomeAdvantagesBlock2' | translate}}</p>
                        <a href="#" class="thm-btn">{{'HomeCreateFileBtn' | translate}}</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="dept-box">
                    <div>
                        <img src="assets/images/advantages/02.png" alt="" class="w-100">
                    </div>
                    <div class="dept-details">
                        <div class="round-style"></div>
                        <i class="icon icofont-baby"></i>
                        <p class="details">{{'HomeAdvantagesBlock3' | translate}}</p>
                        <a href="#" class="thm-btn">{{'HomeCreateFileBtn' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="section bg-gradient" id="reviews">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center mb-4">
                    <h2 class="text-white">{{'HomeWhatSaySection' | translate}}</h2>
                    <p class="text-white section-subtitle mx-auto">{{'HomeWhatSaySectionText' | translate}}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <owl-carousel [options]="reviewSlideOptions" [carouselClasses]="['owl-carousel owl-theme', 'review-slider']" >
                    <div class="item">
                        <div class="review-card shadow-md">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration in some form, by injected humour.</p>
                        </div>
                        <div class="user-txt">
                            <div class="user-pics"><img src="assets/images/reviews/feedback-1.jpg" alt=""></div>
                            <div class="user-info">
                                <h6 class="heading text-white">David Matin</h6>
                                <p class="sub-heading text-white">Mediyot User</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="review-card shadow-md">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration in some form, by injected humour.</p>
                        </div>
                        <div class="user-txt">
                            <div class="user-pics"><img src="assets/images/reviews/feedback-2.jpg" alt=""></div>
                            <div class="user-info">
                                <h6 class="heading text-white">David Matin</h6>
                                <p class="sub-heading text-white">Mediyot User</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="review-card shadow-md">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration in some form, by injected humour.</p>
                        </div>
                        <div class="user-txt">
                            <div class="user-pics"><img src="assets/images/reviews/feedback-3.jpg" alt=""></div>
                            <div class="user-info">
                                <h6 class="heading text-white">David Matin</h6>
                                <p class="sub-heading text-white">Mediyot User</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="review-card shadow-md">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration in some form, by injected humour.</p>
                        </div>
                        <div class="user-txt">
                            <div class="user-pics"><img src="assets/images/reviews/feedback-4.jpg" alt=""></div>
                            <div class="user-info">
                                <h6 class="heading text-white">David Matin</h6>
                                <p class="sub-heading text-white">Mediyot User</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="review-card shadow-md">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration in some form, by injected humour.</p>
                        </div>
                        <div class="user-txt">
                            <div class="user-pics"><img src="assets/images/reviews/feedback-5.jpg" alt=""></div>
                            <div class="user-info">
                                <h6 class="heading text-white">David Matin</h6>
                                <p class="sub-heading text-white">Mediyot User</p>
                            </div>
                        </div>
                    </div>
                </owl-carousel>
            </div>
        </div>
    </div>
</section>

<section class="section inverse-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center mb-4">
                    <h2>{{'HomeGallerySection' | translate}}</h2>
                    <p class="section-subtitle mx-auto">{{'HomeGallerySectionText' | translate}}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <owl-carousel [options]="premisesSlideOption" [carouselClasses]="['owl-carousel owl-theme', 'premises-slider']" >
                    <div class="item">
                        <div class="premises-box">
                            <div class="dept-box">
                                <div class="prod-img">
                                    <img src="assets/images/products/12.png" alt="" class="w-100">
                                </div>
                                <div class="dept-details">
                                    <p>{{'HomeWristbandKey1' | translate}}</p>
                                    <a href="#" class="thm-btn"><i class="icofont-info-circle"></i> {{'HomeWristbandReadMoreBtn' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="premises-box">
                            <div class="dept-box">
                                <div class="prod-img">
                                    <img src="assets/images/products/01.jpg" alt="" class="w-100">
                                </div>
                                <div class="dept-details">
                                    <p>{{'HomeWristbandKey2' | translate}}</p>
                                    <a href="#" class="thm-btn"><i class="icofont-info-circle"></i> {{'HomeWristbandReadMoreBtn' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="premises-box">
                            <div class="dept-box">
                                <div class="prod-img">
                                    <img src="assets/images/products/08.png" alt="" class="w-100">
                                </div>
                                <div class="dept-details">
                                    <p>{{'HomeWristbandKey1' | translate}}</p>
                                    <a href="#" class="thm-btn"><i class="icofont-info-circle"></i> {{'HomeWristbandReadMoreBtn' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="premises-box">
                            <div class="dept-box">
                                <div class="prod-img">
                                    <img src="assets/images/products/03.jpg" alt="" class="w-100">
                                </div>
                                <div class="dept-details">
                                    <p>{{'HomeWristbandKey3' | translate}}</p>
                                    <a href="#" class="thm-btn"><i class="icofont-info-circle"></i> {{'HomeWristbandReadMoreBtn' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="premises-box">
                            <div class="dept-box">
                                <div class="prod-img">
                                    <img src="assets/images/products/09.png" alt="" class="w-100">
                                </div>
                                <div class="dept-details">
                                    <p>{{'HomeWristbandKey1' | translate}}</p>
                                    <a href="#" class="thm-btn"><i class="icofont-info-circle"></i> {{'HomeWristbandReadMoreBtn' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="premises-box">
                            <div class="dept-box">
                                <div class="prod-img">
                                    <img src="assets/images/products/07.jpg" alt="" class="w-100">
                                </div>
                                <div class="dept-details">
                                    <p>{{'HomeWristbandKey3' | translate}}</p>
                                    <a href="#" class="thm-btn"><i class="icofont-info-circle"></i> {{'HomeWristbandReadMoreBtn' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="premises-box">
                            <div class="dept-box">
                                <div class="prod-img">
                                    <img src="assets/images/products/04.jpg" alt="" class="w-100">
                                </div>
                                <div class="dept-details">
                                    <p>{{'HomeWristbandKey3' | translate}}</p>
                                    <a href="#" class="thm-btn"><i class="icofont-info-circle"></i> {{'HomeWristbandReadMoreBtn' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="premises-box">
                            <div class="dept-box">
                                <div class="prod-img">
                                    <img src="assets/images/products/05.jpg" alt="" class="w-100">
                                </div>
                                <div class="dept-details">
                                    <p>{{'HomeWristbandKey2' | translate}}</p>
                                    <a href="#" class="thm-btn"><i class="icofont-info-circle"></i> {{'HomeWristbandReadMoreBtn' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="premises-box">
                            <div class="dept-box">
                                <div class="prod-img">
                                    <img src="assets/images/products/10.png" alt="" class="w-100">
                                </div>
                                <div class="dept-details">
                                    <p>{{'HomeWristbandKey1' | translate}}</p>
                                    <a href="#" class="thm-btn"><i class="icofont-info-circle"></i> {{'HomeWristbandReadMoreBtn' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </owl-carousel>
            </div>
        </div>
    </div>
</section>

<section id="appointment" class="p-0" id="contact">
    <div class="appointment">
        <div class="row no-gutters">
            <div class="col-md-5">
                <div class="contant-number">
                    <h3><i class="icofont-phone"></i> +243 812 064 642</h3>
                </div>
            </div>

            <div class="col-md-7">
                <div class="appointment-form">
                    <h2 class="title">{{'HomeContactSection' | translate}}</h2>
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="prenom" [placeholder]="'HomeContactFormFieldLastName' | translate">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="nom" [placeholder]="'HomeContactFormFieldName' | translate">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" [placeholder]="'HomeContactFormFieldEmail' | translate">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="phoneNumber" [placeholder]="'HomeContactFormFieldPhoneNumber' | translate">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="city" [placeholder]="'HomeContactFormFieldCity' | translate">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="country" [placeholder]="'HomeContactFormFieldCountry' | translate">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" rows="4" [placeholder]="'HomeContactFormFieldMessage' | translate"></textarea>
                        </div>
                        <button type="submit" class="btn book-now-btn">{{'HomeContactFormSubmitBtn' | translate}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="faq" class="section features">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-left mb-4">
                            <h2>{{'HomeStepSection' | translate}}</h2>
                            <p class="mx-auto">{{'HomeStepSectionText' | translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="ftr-icon-box wow fadeInUp" style="height: 130px;">
                            <div class="icon"><i class="icofont-web"></i></div>
                            <p class="description step">{{'HomeStepKey1' | translate}} <a href="http://">{{'HomeStepKey2' | translate}}</a></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="ftr-icon-box wow fadeInUp" data-wow-delay="0.3s" style="height: 130px;">
                            <div class="icon"><i class="icofont-doctor"></i></div>
                            <p class="description step">{{'HomeStepKey3' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="wow fadeIn" data-wow-duration="1500ms">
                    <img src="assets/images/faqs.png" class="w-100" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
