<div id="content" class="main-content">
    <div class="layout-px-spacing">

        <div class="row layout-spacing layout-top-spacing" id="cancel-row">
            <div class="col-lg-12">
                <div class="widget-content searchable-container list">

                    <div class="row custom-title">
                        <div class="col-xl-6 col-lg-4 col-md-12 col-sm-12 filtered-list-search layout-spacing align-self-center">
                            <div class="patient-title">
                                <div class="row">
                                    <div class="col-2">
                                        <i class="icofont-user-male"></i>
                                    </div>
                                    <div class="col-10">
                                        <h3>DIDIERSON AMURI</h3>
                                        <span>28 ans</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 text-sm-right text-center layout-spacing align-self-center">
                            <div class="d-flex justify-content-sm-end justify-content-center">
                                <button class="btn btn-warning">
                                    <i class="icofont-doctor custom-icon"></i>
                                </button>
                                <button class="btn btn-warning">
                                    <i class="icofont-listing-box custom-icon"></i>
                                </button>
                                <button class="btn btn-warning">
                                    <i class="icofont-reply custom-icon"></i>
                                </button>
                                <button class="btn btn-warning">
                                    <i class="icofont-heart-beat custom-icon"></i>
                                </button>
                                <button class="btn btn-warning">
                                    <i class="icofont-pills custom-icon"></i>
                                </button>
                                <button class="btn btn-warning">
                                    <i class="icofont-injection-syringe custom-icon"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 text-sm-right text-center layout-spacing align-self-center">
                            <div class="d-flex justify-content-sm-end justify-content-center">
                                <button class="btn btn-warning">
                                    <i class="icofont-microscope-alt custom-icon"></i>
                                </button>
                                <button class="btn btn-warning">
                                    <i class="icofont-document-folder custom-icon"></i>
                                </button>
                                <button class="btn btn-warning">
                                    <i class="icofont-contacts custom-icon"></i>
                                </button>
                                <button class="btn btn-warning">
                                    <i class="icofont-dollar custom-icon"></i>
                                </button>
                                <button class="btn btn-warning">
                                    <i class="icofont-info-circle custom-icon"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="icofont-listing-box"></i>
                                    Historique médical
                                </div>
                                <div class="card-body">

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <i class="icofont-pills"></i>
                                            Traitements en cours
                                        </div>
                                        <div class="card-body">
        
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <i class="icofont-heart-beat-alt"></i>
                                                    Biometries
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <div class="row bio-row">
                                                                        <div class="col-12">
                                                                            <div class="biometrie">
                                                                                <p>Taille</p>
                                                                                <span>170 cm</span>
                                                                                <hr>
                                                                                <small>02 oct 2020</small>
                                                                            </div>
                                                                            <div class="biometrie">
                                                                                <p>Poids</p>
                                                                                <span>70,5 kgs</span>
                                                                                <hr>
                                                                                <small>02 oct 2020</small>
                                                                            </div>
                                                                            <div class="biometrie">
                                                                                <p>IMC</p>
                                                                                <span>24,53 kg/m</span>
                                                                                <hr>
                                                                                <small>02 oct 2020</small>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <div class="row bio-row">
                                                                        <div class="col-12">
                                                                            <div class="biometrie">
                                                                                <p>PAS</p>
                                                                                <span>115 mmHg</span>
                                                                                <hr>
                                                                                <small>02 oct 2020</small>
                                                                            </div>
                                                                            <div class="biometrie">
                                                                                <p>PAD</p>
                                                                                <span>85 mmHg</span>
                                                                                <hr>
                                                                                <small>02 oct 2020</small>
                                                                            </div>
                                                                            <div class="biometrie">
                                                                                <p>FC</p>
                                                                                <span>66 bpm</span>
                                                                                <hr>
                                                                                <small>02 oct 2020</small>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <i class="icofont-reply"></i>
                                                    Antécédents
                                                </div>
                                                <div class="card-body">
                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-wrapper">
        <div class="footer-section f-section-1">
            <p class="">Copyright ©{{year}} <a target="_blank" href="https://afiacare.com">Afiacare</a>, All rights
                reserved.</p>
        </div>
        <div class="footer-section f-section-2">
            <p class="">Proposed by <a target="_blank" href="https://astechcongo.com">Astech-Congo Inc.</a></p>
        </div>
    </div>
</div>