<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-150 p-b-30">

            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="customForm">
                <div class="login100-form-avatar">
                    <img src="assets/images/avatars/avatar4.png" alt="AVATAR">
                </div>

                <span class="login100-form-title p-t-20 p-b-45"></span>

                <div class="form-group">
                    <span class="icofont-ui-user form-control-icon"></span>
                    <input type="text" formControlName="prenom" class="form-control form-control-lg"
                        [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }"
                        placeholder="First name" />
                    <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
                        <div *ngIf="f.prenom.errors">First name required</div>
                    </div>
                </div>

                <div class="form-group">
                    <span class="icofont-ui-user form-control-icon"></span>
                    <input type="text" formControlName="nom" class="form-control form-control-lg"
                        [ngClass]="{ 'is-invalid': submitted && f.nom.errors }"
                        placeholder="Name" />
                    <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                        <div *ngIf="f.nom.errors">Name required</div>
                    </div>
                </div>

                <div class="form-group">
                    <span class="icofont-phone-circle form-control-icon"></span>
                    <input type="text" formControlName="phoneNumber" class="form-control form-control-lg"
                        [ngClass]="{ 'is-invalid': submitted && f.nom.errors }"
                        placeholder="Phone number" />
                    <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.phoneNumber.errors">Phone number required</div>
                    </div>
                </div>

                <div class="form-group">
                    <span class="icofont-ui-email form-control-icon"></span>
                    <input formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" type="email" class="form-control form-control-lg" placeholder="{{'Email' | translate}}">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.email">The e-mail address must be valid</div>
                    </div>
                </div>

                <div class="form-group">
                    <span class="icofont-key form-control-icon"></span>
                    <input formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" type="password" class="form-control form-control-lg" placeholder="{{'Password' | translate}}">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.minlength">The password must be at least 6 characters long.</div>
                    </div>
                </div>

                <div class="form-group">
                    <span class="icofont-key form-control-icon"></span>
                    <input formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" type="password" class="form-control form-control-lg" placeholder="{{'ConfirmPassword' | translate}}">
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Both passwords must be identical</div>
                    </div>
                </div>

                <div class="form-group txt1">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input formControlName="roleId" [ngClass]="{ 'is-invalid': submitted && f.roleId.errors }" value="1" type="radio" checked id="customRadioInline1" name="roleId" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">I am registering as a patient</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input formControlName="roleId" [ngClass]="{ 'is-invalid': submitted && f.roleId.errors }" value="2" type="radio" id="customRadioInline2" name="roleId" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">I am registering as a health professional</label>
                    </div>
                </div>

                <div class="container-login100-form-btn p-t-10">
                    <button [disabled]="isLoading" class="login100-form-btn">
                        <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
                        Register
                    </button>
                </div>
            </form>
            <div class="text-center w-full p-t-25 p-b-100">
                <a href="#" class="txt1">
                    Do you already have an account ?
                </a>
            </div>

            <div class="text-center w-full">
                <a class="txt1" routerLink="/secure-access">
                    Login
                    <i class="fa fa-long-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>