.p-t-150 {
    padding-top: 0px;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

.txt1 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1.4;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;
    z-index: 1;
}

.wrap-login100 {
    width: 400px;
    background: transparent;
}

.login100-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.login100-form-title {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
}

.login100-form-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.login100-form-avatar img {
    width: 100%;
}

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.customForm {
    margin-bottom: 30px;
}

.login100-form-btn {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #e0e0e0;

    width: 100%;
    height: 50px;
    border-radius: 5px;
    background: #333333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    position: relative;
    z-index: 1;
}

.login100-form-btn:hover {
    background: #fff;
    color: #333333;
}

.login100-form-btn:hover:before {
    opacity: 1;
}


.validate-input {
    position: relative;
}

.form-control-lg {
    font-size: 15px;
    height: 50px;
}

.form-group .form-control {
    padding-left: 2.375rem;
    border-radius: 5px;
}

.form-group .form-control-icon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 3.375rem;
    height: 2.375rem;
    line-height: 2.9rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}


.custom-select-lg {
    font-size: 15px;
    height: 45px;
    padding-left: 2.5rem;
}
.custom-select {
    border-radius: 5px;
}

.p-b-45 {
    padding-bottom: 15px;
}

.p-b-100 {
    padding-bottom: 0px;
}

.iti input, .iti input[type=text], .iti input[type=tel] {
    position: relative;
    padding-right: 107px;
    margin-right: 0;
}

.iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel] {
    padding-right: 107px;
    padding-left: 52px;
    margin-left: 0;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }

    .p-b-230[_ngcontent-dgt-c111] {
        padding-bottom: 100px;
    }
}

/*//////////////////////////////////////////////////////////////////
[ responsive ]*/

@media (max-width: 576px) {
    .wrap-login100 {
        padding-top: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .p-b-230 {
        padding-bottom: 100px;
    }

    .p-b-100 {
        padding-bottom: 10px;
    }

    .p-b-30 {
        padding-bottom: 0px;
    }
}