<div class="sidebar sidebar-style-2" data-background-color="dark">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-primary">
                <li class="nav-item" id="menuDashboard" routerLinkActive="active">
                    <a routerLink="/dashboard">
                        <i class="fas fa-th-large"></i>
                        <p>tableau de bord</p>
                    </a>
                </li>
                <li class="nav-item" id="menuEmploiduTemps">
                    <a href=".">
                        <i class="fas fa-calendar-alt"></i>
                        <p>agenda</p>
                    </a>
                </li>
                <li class="nav-item" id="menuTeacher">
                    <a href="teachers.html">
                        <i class="fas fa-heartbeat"></i>
                        <p>bracelet & cl&eacute;</p>
                    </a>
                </li>
                <li class="nav-item" id="menuTeacher">
                    <a href="teachers.html">
                        <i class="fas fa-user-friends"></i>
                        <p>patients</p>
                    </a>
                </li>
                <li class="nav-item" id="menuEmploiduTemps">
                    <a href=".">
                        <i class="fas fa-notes-medical"></i>
                        <p>fse</p>
                    </a>
                </li>
                <li class="nav-item" id="menuEmploiduTemps">
                    <a href=".">
                        <i class="fas fa-medkit"></i>
                        <p>médicaments</p>
                    </a>
                </li>
                <li class="nav-item" id="menuEmploiduTemps">
                    <a href=".">
                        <i class="fas fa-envelope"></i>
                        <p>courrier</p>
                    </a>
                </li>
                <li class="nav-item" id="menuEmploiduTemps">
                    <a href=".">
                        <i class="fas fa-file-alt"></i>
                        <p>documents</p>
                    </a>
                </li>
                <li class="nav-item" id="menuEmploiduTemps">
                    <a href=".">
                        <i class="fas fa-calculator"></i>
                        <p>comptabilité</p>
                    </a>
                </li>
                <li class="nav-item" id="menuEmploiduTemps">
                    <a href=".">
                        <i class="fas fa-signature"></i>
                        <p>statistiques</p>
                    </a>
                </li>
                <li class="nav-item submenu" routerLinkActive="active">
                    <a data-toggle="collapse" href="#tables">
                        <i class="fas fa-cogs"></i>
                        <p>paramètres</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse show" id="tables">
                        <ul class="nav nav-collapse">
                            <li routerLinkActive="active"> 
                                <a routerLink="/hospitals">
                                    <span class="sub-item">établissements</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/users">
                                    <span class="sub-item">utilisateurs</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>