.card {
    margin-bottom: 10px;
    border: none;
}

.card-header {
    border: none;
}

.layout-spacing {
    padding-bottom: 0px;
}

.btn {
    color: #fff;
    background-color: #009bad;
    border: 0px solid #009bad;
    margin-left: 5px;
    text-transform: none;
}
