@import './../../../assets/css/colors.scss';

.form-page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.step-page-container {
    flex: 1;
    margin: 20px 32px;
    h3 {
        color: #fff;
    }
}

.form-continue-btn {
    background: $blue;
    margin: 32px;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed !important;
    }
}

.common-btn {
    color: $white;
    background: $blue;
    padding: 20px;
    border-radius: 5px;
    font-size: 1.15em;
    cursor: pointer;
    border: none !important;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*---------------------------------------------*/
a {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #999999;
}

input:-moz-placeholder {
    color: #999999;
}

input::-moz-placeholder {
    color: #999999;
}

input:-ms-input-placeholder {
    color: #999999;
}

textarea::-webkit-input-placeholder {
    color: #999999;
}

textarea:-moz-placeholder {
    color: #999999;
}

textarea::-moz-placeholder {
    color: #999999;
}

textarea:-ms-input-placeholder {
    color: #999999;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    color: #cccccc;
    line-height: 1.4;
}

.bo1 {
    border-bottom: 1px solid #999999;
}

.hov1:hover {
    border-color: #d33f8d;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}


/*---------------------------------------------*/
.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
}

.input100 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    line-height: 1.2;
    color: #333333;
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 0 30px 0 53px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 50%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(0, 91, 234, 0.6);
}

.input100:focus+.focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 80px 30px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 80px 30px;
        opacity: 0;
    }
}

.symbol-input100 {
    font-size: 15px;
    color: #999999;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    pointer-events: none;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus+.focus-input100+.symbol-input100 {
    color: #00c6fb;
    padding-left: 23px;
}

/*//////////////////////////////////////////////////////////////////
[ responsive ]*/

@media (max-width: 576px) {
    .para-sec {
        font-size: 14px;
        text-align: left;
        color: rgba(255, 255, 255, 0.85);
        margin-bottom: 20px;
    }

    .input100 {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 15px;
        line-height: 1.2;
        color: #333333;
        display: block;
        width: 100%;
        height: 50px;
        border-radius: 5px;
        padding: 0 30px 0 53px;
    }
}

@media (max-width: 992px) {
    .para-sec {
        font-size: 18px;
        text-align: left;
        color: rgba(255, 255, 255, 0.85);
        margin-bottom: 20px;
    }

    .input100 {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 15px;
        line-height: 1.2;
        color: #333333;
        display: block;
        width: 100%;
        height: 50px;
        border-radius: 5px;
        padding: 0 30px 0 53px;
    }
}


/*//////////////////////////////////////////////////////////////////
[ Phone number ]*/

.iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel] {
    padding-right: 100px;
    padding-left: 65px;
    margin-left: 0px;
}

.iti__selected-flag {
    z-index: 1;
    position: relative;
    display: flex;
    padding-left: 56px;
    align-items: center;
    height: 100%;
    padding: 0 6px 0 15px;
}

.iti {
    position: relative;
    display: contents
}