<div id="content" class="main-content">
    <div class="layout-px-spacing">

        <div class="row layout-spacing layout-top-spacing" id="cancel-row">
            <div class="col-lg-12">
                <div class="widget-content searchable-container list">

                    <div class="row custom-title">
                        <div
                            class="col-xl-4 col-lg-5 col-md-5 col-sm-7 filtered-list-search layout-spacing align-self-center">
                            <div class="">
                                <h5><i class="icofont-heart-beat"></i> Biométries (Mesures)</h5>
                            </div>
                        </div>

                        <div
                            class="col-xl-8 col-lg-7 col-md-7 col-sm-5 text-sm-right text-center layout-spacing align-self-center">
                            <div class="d-flex justify-content-sm-end justify-content-center">
                                <button class="btn btn-warning">
                                    <i class="icofont-ui-add"></i>
                                    Ajouter une mesure
                                </button>
                                <button class="btn btn-warning">
                                    <i class="icofont-print"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row bio-row">
                                        <div class="col-2">
                                            <i class="icofont-user-alt-3"></i>
                                        </div>
                                        <div class="col-10">
                                            <div class="biometrie">
                                                <p>Taille</p>
                                                <span>170 cm</span>
                                                <hr>
                                                <small>02 oct 2020</small>
                                            </div>
                                            <div class="biometrie">
                                                <p>Poids</p>
                                                <span>70,5 kgs</span>
                                                <hr>
                                                <small>02 oct 2020</small>
                                            </div>
                                            <div class="biometrie">
                                                <p>IMC</p>
                                                <span>24,53 kg/m</span>
                                                <hr>
                                                <small>02 oct 2020</small>
                                            </div>
                                            <div class="biometrie">
                                                <p>Sur. corporelle</p>
                                                <span>1,663 m</span>
                                                <hr>
                                                <small>02 oct 2020</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row bio-row">
                                        <div class="col-2">
                                            <i class="icofont-heart-beat-alt"></i>
                                        </div>
                                        <div class="col-10">
                                            <div class="biometrie">
                                                <p>PAS</p>
                                                <span>115 mmHg</span>
                                                <hr>
                                                <small>02 oct 2020</small>
                                            </div>
                                            <div class="biometrie">
                                                <p>PAD</p>
                                                <span>85 mmHg</span>
                                                <hr>
                                                <small>02 oct 2020</small>
                                            </div>
                                            <div class="biometrie">
                                                <p>FC</p>
                                                <span>66 bpm</span>
                                                <hr>
                                                <small>02 oct 2020</small>
                                            </div>
                                            <div class="biometrie">
                                                <p>Hypertension</p>
                                                <span>HT avec traitement</span>
                                                <hr>
                                                <small>02 oct 2020</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row bio-row">
                                        <div class="col-2">
                                            <i class="icofont-blood-drop"></i>
                                        </div>
                                        <div class="col-10">
                                            <div class="biometrie">
                                                <p>LDL</p>
                                                <span>2g/l</span>
                                                <hr>
                                                <small>02 oct 2020</small>
                                            </div>
                                            <div class="biometrie">
                                                <p>HbA1c</p>
                                                <span>7%</span>
                                                <hr>
                                                <small>02 oct 2020</small>
                                            </div>
                                            <div class="biometrie">
                                                <p>Créatininémie</p>
                                                <span>-</span>
                                                <hr>
                                                <small>-</small>
                                            </div>
                                            <div class="biometrie">
                                                <p>Clairance</p>
                                                <span>-</span>
                                                <hr>
                                                <small>-</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row bio-row">
                                        <div class="col-2">
                                            <i class="icofont-autism"></i>
                                        </div>
                                        <div class="col-10">
                                            <div class="biometrie">
                                                <p>HDL</p>
                                                <span>-</span>
                                                <hr>
                                                <small>-</small>
                                            </div>
                                            <div class="biometrie">
                                                <p>Diabète</p>
                                                <span>Diabète type 1</span>
                                                <hr>
                                                <small>02 oct 2020</small>
                                            </div>
                                            <div class="biometrie">
                                                <p>Ins. hépatique</p>
                                                <span>Modérée</span>
                                                <hr>
                                                <small>02 oct 2020</small>
                                            </div>
                                            <div class="biometrie">
                                                <p>-</p>
                                                <span>-</span>
                                                <hr>
                                                <small>-</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h6 class="text-success"><i class="icofont-lock"></i> Informations sécurisés</h6>
                                </div>
                                <div class="card-body">

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="footer-wrapper">
        <div class="footer-section f-section-1">
            <p class="">Copyright ©{{year}} <a target="_blank" href="https://afiacare.com">Afiacare</a>, All rights
                reserved.</p>
        </div>
        <div class="footer-section f-section-2">
            <p class="">Proposed by <a target="_blank" href="https://astechcongo.com">Astech-Congo Inc.</a></p>
        </div>
    </div>
</div>